html, body {
	height: 100%;
	margin: 0;
	background-color: lightgrey;
}

body {
	padding-top: 50px;
	color: white;
	font-family: "Bebas Neue";
	font-weight: lighter;
}

#index-body {
	padding-top: 0;
}

.background {
	background-image: url(website-background-image.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	text-align: center;
	padding: 25px;
	color: black;
	font-size: 4em;
	font-weight: normal;
}

p {
	font-family: 'Raleway';
	font-size: 18px;
	line-height: 30px;
}

.navbar-inverse {
	background: #1a1a1c;
	font-family: "raleway";
	border: 0px;
	margin: 0;
}

.navbar-brand {
	color: #f2f2f2;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
	color: #f2f2f2;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f2f2f2;
}

.tab:hover {
	background-color: black;
	color: #1ec503;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.thumbnail {
	width: 90%;
  height: 90%;
  margin: 20px;
}

a {
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
	text-decoration: none;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.item:nth-child(odd){
	background-color: white;
	width: 100%;
}

.item {
	padding: 20px;
	opacity: 0;
	animation: 0.5s itemLoad 2s forwards;
}

@keyframes itemLoad {
	85% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.item:nth-child(1) {
	animation-delay: .5s;
}
.item:nth-child(2) {
	animation-delay: 1s;
}
.item:nth-child(3) {
	animation-delay: 1.5s;
}
.item:nth-child(4) {
	animation-delay: 2s;
}
.item:nth-child(5) {
	animation-delay: 2.5s;
}
.item:nth-child(6) {
	animation-delay: 3s;
}
.item:nth-child(7) {
	animation-delay: 3.5s;
}
.item:nth-child(8) {
	animation-delay: 4s;
}
.item:nth-child(9) {
	animation-delay: 4.5s;
}
.item:nth-child(10) {
	animation-delay: 5s;
}

.item h2 {
	font-family: "raleway";
}

p {
	font-family: 'raleway';
	color: black;
}

.email {
	text-align: center;
	padding-bottom: 20px;
}

.call {
	margin: 0;
	padding-top: 17%;
	/*position: absolute;*/
	/*top: 30%;*/
	/*left: 50%;*/
	/*margin-right: -50%;*/
	/*transform: translate(-50%, -30%);*/
  font-size: 7em;
  font-weight: lighter;
  /*animation: 1s loadCall 0.5s forwards;*/
}

.hero {
	opacity: 0;
	animation: 5s fadeIn 0.5s forwards;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}



.contact-call {
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	font-size: 1.2em;
	transform: translate(-50%, -30%);
	animation: 1s loadCall 0.5s forwards;
}

.about-call {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	animation: 1s loadCall 0.5s forwards;
}

@keyframes loadCall {
	100% {
		padding-top: 30px;
	}
}

.fa-github {
	/*margin: 0;*/
 /* top: 70%;*/
 /* left: 19%;*/
  color: #b0b0c1;
  /*margin-right: -10%;*/
  /*transform: translate(-10%, -70%);*/
	transform: scale(2.0,2.0);
	-ms-transform:scale(2.0,2.0); /* IE 9 */
	-moz-transform:scale(2.0,2.0); /* Firefox */
	-webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
	-o-transform:scale(2.0,2.0); /* Opera */
	transition: all .2s ease-in-out;
	animation: 1s loadIcon 0.5s forwards;
}

.fa-github:hover {
	transform: scale(2.3);
	color: white;
}

#code-icon {
	/*margin: 0;*/
	/*padding: 0;*/
 /* top: 70%;*/
 /* left: 38%;*/
  color: #b0b0c1;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*transform: translate(-70%, -50%);*/
	transform: scale(2.0,2.0);
	-ms-transform:scale(2.0,2.0); /* IE 9 */
	-moz-transform:scale(2.0,2.0); /* Firefox */
	-webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
	-o-transform:scale(2.0,2.0); /* Opera */
	transition: all .2s ease-in-out;
	animation: 1s loadIcon 0.5s forwards;
}

#code-icon:hover {
	transform: scale(2.3);
	color: white;
}

#question-icon {
	/*margin: 0;*/
	/*padding: 0;*/
 /* top: 70%;*/
 /* right: 38%;*/
  color: #b0b0c1;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*transform: translate(-70%, -50%);*/
	transform: scale(2.0,2.0);
	-ms-transform:scale(2.0,2.0); /* IE 9 */
	-moz-transform:scale(2.0,2.0); /* Firefox */
	-webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
	-o-transform:scale(2.0,2.0); /* Opera */
	transition: all .2s ease-in-out;
	animation: 1s loadIcon 0.5s forwards;
}

#question-icon:hover {
	transform: scale(2.3);
	color: white;
}

#mail-icon {
	/*margin: 0 auto;*/
 /* top: 70%;*/
 /* right: 19%;*/
  color: #b0b0c1;
  /*margin-right: 0;*/
  /*transform: translate(-10%, -70%);*/
	transform: scale(2.0,2.0);
	-ms-transform:scale(2.0,2.0); /* IE 9 */
	-moz-transform:scale(2.0,2.0); /* Firefox */
	-webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
	-o-transform:scale(2.0,2.0); /* Opera */
	transition: all .2s ease-in-out;
	animation: 1s loadIcon 0.5s forwards;
}

#mail-icon:hover {
	transform: scale(2.3);
	color: white;
}

@keyframes loadIcon {
	100% {
		top: 65%;
		transform: translate(-10%, -65%);
		transform: scale(2.0,2.0);
		-ms-transform:scale(2.0,2.0); /* IE 9 */
		-moz-transform:scale(2.0,2.0); /* Firefox */
		-webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
		-o-transform:scale(2.0,2.0); /* Opera */
	}
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	padding-top: 10%;
}

/*@media (max-width: 1200px){*/
/*	.icons {*/
/*		padding-top: 48%*/
/*	}*/
/*}*/

/*@media (max-width: 800px){*/
/*	.call {*/
/*		padding-top: -10px;*/
/*	}*/
/*}*/

.callout-icons {
	color: white;
	width: 200px;
	padding: 30px;
}

.callout-icons:hover {
	color: #f2f2f2;
}

.callout-icons:visited {
	color: white;
}

.book {
	font-weight: normal;
}

/*Fonts*/

@font-face { 
	font-family: BebasNeue; 
	font-weight: bold;
	src: url('Fonts/BebasNeue Bold.ttf'); 
}

@font-face { 
	font-family: BebasNeue; 
	font-weight: normal;
	src: url('Fonts/BebasNeue Book.ttf'); 
}

@font-face { 
	font-family: BebasNeue; 
	font-weight: lighter;
	src: url('Fonts/BebasNeue Light.ttf'); 
}